Ejercicios DTD/baloncesto.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT equipos_de_baloncesto (equipo)+>
<!ELEMENT equipo (nombre,ciudad,entrenador,jugadores)+>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT entrenador (#PCDATA)>
<!ELEMENT jugadores (jugador)+>
<!ELEMENT jugador (nombre, nacionalidad)>
<!ATTLIST jugador
    posicion CDATA #REQUIRED
  >
<!ELEMENT nacionalidad (#PCDATA)>
